<!DOCTYPE html>
<html>
	<head>
		<title>Kiwipedia template</title>
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<base href="" target="_top" id="base">
		<script>base.href = document.location.href.replace("/media", "").replace("index.html", "").replace(/[&?]wrapper=False/, "").replace(/[&?]wrapper_nonce=[A-Za-z0-9]+/, "")</script>

		<style type="text/css">
			h1 {
				font-family: "Verdana", "Arial", sans-serif;
				font-size: 32px;
				margin: 0;
			}
			p {
				font-family: "Verdana", "Arial", sans-serif;
				font-size: 16px;
			}

			a {
				text-decoration: none;
				color: #82F;
			}
			a:visited {
				color: #B0F;
			}
			a:hover, a:active {
				text-decoration: underline;
			}

			hr {
				margin-top: 48px;
			}
		</style>
	</head>
	<body>
		<h1>Kiwipedia template</h1>
		<p>
			This site is a template for Kiwipedia, a clone of Wikipedia in ZeroNet.<br>
			To create a new hub from this template, visit Kiwipedia and choose <b>Don't see you language in list?</b> in sidebar.
		</p>
		<p>
			If this is your site, and you've just created a new hub, return to Kiwipedia via the following link: <a id="address">init-hub</a>.
		</p>
		<p>
			<a href="/1KiwiBCVBUcuypVm8FEmUW9YT6fJDXkN9r">Kiwipedia</a>
		</p>

		<hr>
		<p>
			Made with &hearts; by <a href="/Mail.ZeroNetwork.bit/?to=gitcenter">GitCenter</a> and community.
		</p>

		<script type="text/javascript" src="js/ZeroFrame.js"></script>
		<script type="text/javascript">
			const zf = new ZeroFrame();
			zf.cmd("siteInfo", [], siteInfo => {
				document.getElementById("address").href = "/1KiwiBCVBUcuypVm8FEmUW9YT6fJDXkN9r/?/init-hub/" + siteInfo.address;
			});
		</script>
	</body>
</html>