aside
	display: inline-block
	width: 250px
	height: 100%
	float: left
	padding: 16px

	background-color: #ee3

.description
	font-family: "Verdana", "Arial", sans-serif
	font-size: 16px
	margin-top: 16px
	margin-bottom: 16px