@font-face
	font-family: "Text Me One"
	src: url(../../fonts/TextMeOne-Regular.ttf)
	font-weight: normal

h1
	margin: 0
	font-family: "Text Me One", "Verdana", "Arial", sans-serif


aside
	display: inline-block
	width: 300px
	height: 100%
	float: left
	padding: 16px

	background-color: #ee3