.ambox
	width: 70%
	margin: 0 auto
	padding: 16px

	background-color: #EEE

	border-left: 10px solid #000

	font-family: "Verdana", "Arial", sans-serif
	font-size: 16px

.ambox-notice
	border-left-color: #36c
.ambox-discussion
	border-left-color: #396
.ambox-good
	border-left-color: #6c4
.ambox-style
	border-left-color: #fc3
.ambox-content
	border-left-color: #f80
.ambox-serious
	border-left-color: #b22
.ambox-delete
	border-left-color: #b22
	background-color: #FEE