.name
	font-size: 16px
	font-family: "Verdana", "Arial", sans-serif
	font-weight: bold

	margin-top: 16px

.description
	font-size: 16px
	font-family: "Verdana", "Arial", sans-serif

input, textarea
	padding: 8px 12px
	margin: 8px 0

	border: 1px solid #DDD

	font-family: "Verdana", "Arial", sans-serif
	font-size: 16px

textarea
	width: calc(100% - 24px)
	height: 500px

.checkbox
	float: left
	margin-right: 8px